.accordion h5 {
  color: #fc0;
  font-weight: 700;
  letter-spacing: 0.4em;
  font-size: 16px;
}

.accordion span {
  color: #de6600;
  font-weight: 700;
  letter-spacing: 0.2em;
}
.accordion p {
  color: #f1f1f1;
  font-weight: 200;
}
