.detail-container {
  margin-top: 80px;
}

.detail-container p {
  color: #f1f1f1;
  letter-spacing: 0.03rem;
  font-weight: 500;
}

.detail-container b,
strong {
  font-weight: 700;
  color: #de6600;
  text-align: justify;
  text-transform: uppercase;
}
.project-info-box {
  margin-top: 16px;
}

.detail-container h5 {
  font-size: 32px;
  text-transform: uppercase;
  color: #fc0;
}
.carousel-inner img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.detailimage {
  width: 128px;
  object-fit: cover;
  margin-top: 16px;
}
.carousel-inner {
  margin-top: 32px;
}
.cardTitleContact {
  position: relative;
  font-weight: 500;
  font-family: "Ek Mukta", sans-serif;
  text-transform: uppercase;
  color: #fc0;
  mix-blend-mode: color-dodge;
  letter-spacing: 0.2em;
  margin-bottom: 24px;
}
.cardTitleContact::after {
  content: "";
  display: block;
  position: absolute;
  left: 240px;
  top: 16px;
  width: 16px;
  height: 2px;
  background-color: #fc0;
  display: block;
  mix-blend-mode: color-dodge;
}
